@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --red: blueviolet;
}
body{
    font-family: 'Poppins', sans-serif;
}

.Project1_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    height: 4rem;
    margin: 0 auto;
    background-color: tomato;
}
.Project1_nav ul{
    display: flex;
    list-style: none;
    gap: 1.5rem;
}
.Project1_nav button{
    all: unset;
    padding: .5rem 1rem;
    height: 2rem;
    color: #fff;
    background-color: var(--red);
}